.strawberryDetector{
    padding: 10px;
    font-family: Arial;
    height: 100%;
    background-image:linear-gradient(70eg,#889cfc,#696db3);
}

.imageUploadAndButtonDiv{
    float: left;
    width: 30%;
}

.resultDiv{
    float: left;
    width: 60%;
    height:400px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20p;
}








.strawberryImgShow{

    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: -10px 5px 20px 1px #6067cc;
    margin-top: 20px;
    border-radius: 3px;

}

.strawberryImgShow:hover{

    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: -10px 5px 20px 1px #7178dd;
    margin-top: 20px;
    border-radius: 3px;
}



.noneImgShow{

    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #8888ff;
    box-shadow: -10px 5px 20px 1px #6067cc;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

}

.noneImgShow:hover{

    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #8888ff;
    box-shadow: -10px 5px 20px 1px #7178dd;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

}

.noneImgShowText{
    
    color: #bbf;
    margin-top: 40%;
    text-align: center;
    font-size: 30px;

}


.buttonArea{
    margin-left: 30px;
    margin-top: 30px;
}