


.titleContainer{
    text-align: center;
    height: fit-content;
}

.inPageTitle{
    height: 30px;
    color: #000000;
    
}

.divideLineUnderTitle{
    border: 0;
    height: 1px;
    background-color:#434785;
}

.strawberryDetectorEnter{
    padding-left: 40px;
    padding-right: 40px;
    min-width: 1084px;
    font-family: Arial;
    height: 90%;
    border: 2px solid #000000;
    border-radius: 15px;
    overflow: hidden;
}


.EnterButtonArea{
    width: 100%;
    min-height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.EnterButton {
    flex: 1;
    flex-flow: row;
    --glow-color: #aec7dc;
    --glow-spread-color: #aec7dc;
    --enhanced-glow-color: #aec7dc;
    --btn-color: #aec7dc;
    width: 75%;
    height: 15%;
    border: .11em solid #aec7dc; 
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 5em; 
    margin-right: 5em;
    margin-top: 1.5em;
    color: #393939;
    font-size: 50px;
    font-weight: bold;
    background-color: var(--btn-color);
    /* border-radius: .35em; */
    outline: none;
    position:static;
    transition: all 0.3s;
   }
   

   
   .EnterButton:hover {
        flex: 1;
        color: rgb(103, 103, 103);
        background-color: rgb(165, 192, 212);
        box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 9em 0 var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }

   
   
   .EnterButton:active {
        flex: 1;
        box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }


   .--hidden {
    transition: opacity .5s;
    opacity: 0;
  }
   
  .--visible {
    opacity: 1;
  }


